<ion-header>
  <ion-toolbar>
    <ion-title color="secondary" Class="customFont" >Cloths</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col col-md-4>
        <ion-card>
          <img class="categoryBG" src="../assets/suit.jpg" (click)="redriectgrocery()" /> 
    <ion-card-header>
      
      <ion-card-title class="customFont">Gul Ahmed </ion-card-title>
    </ion-card-header>
    <ion-button expend="block" size="full" (click)= "addshoes()"
      > Add To Cart </ion-button>
        </ion-card>
      </ion-col>
      <ion-col col-md-4>
        <ion-card>
          <img class="categoryBG" src="../assets/suit2.jpg" (click)="redriectgrocery()" /> 
          <ion-card-header>
            
            <ion-card-title class="customFont">Gul Ahmed </ion-card-title>
          </ion-card-header>
          <ion-button expend="block" size="full" (click)= "addshoes()"
            > Add To Cart </ion-button>
        </ion-card>
      </ion-col>
      
      <ion-col col-md-4>
        <ion-card>
          <img class="categoryBG" src="../assets/suit4.jpg" (click)="redriectgrocery()" /> 
          <ion-card-header>
            
            <ion-card-title class="customFont">Nishat </ion-card-title>
          </ion-card-header>
          <ion-button expend="block" size="full" (click)= "addshoes()"
            > Add To Cart </ion-button>
        </ion-card>
      </ion-col>

      <ion-col col-md-4>
        <ion-card>
          <img class="categoryBG" src="../assets/suit3.jpg" (click)="redriectgrocery()" /> 
          <ion-card-header>
            
            <ion-card-title class="customFont">Nishat </ion-card-title>
          </ion-card-header>
          <ion-button expend="block" size="full" (click)= "addshoes()"
            > Add To Cart </ion-button>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
